:root {
  --accent: #1976D2;
  --link: #42A5F5;
}

* {
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: var(--link);
}

body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
  word-break: break-word;
}

.separator {
  flex-grow: 1
}

nav {
  background-color: var(--accent);
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  height: 60px;
  position: sticky;
  top: 0;
  padding: 0 40px;
  display: flex;
  flex-direction: row;
  align-items: center;
}

nav a {
  color: white;
}

#nav-links {
  list-style: none;
  margin: 0;
  height: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
}

#nav-links > * {
  margin: 0 10px;
}

#nav-links > :first-child {
  margin-left: 0;
}

#nav-links > :last-child {
  margin-right: 0;
}

#nav-links {
  font-size: 16px;
}

#nav-links a {
  color: white;
}

#menu-button {
  display: none;
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
}

#menu-button img {
  display: block;
}

#home-link {
  font-size: 20px;
  font-weight: 500;
}

#nav-links #nav-download-link {
  color: black;
  background-color: white;
  padding: 10px 15px;
  border-radius: 10px;
}

#github-link {
  display: block;
}

#github-link img {
  width: 35px;
  height: auto;
  display: block;
}

#github-link span {
  display: none;
}

#main-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#landing-title {
  margin-top: 100px;
  font-size: 50px;
  text-align: center;
}

#landing-subtitle {
  max-width: 500px;
  margin: 0 auto;
  font-size: 24px;
  font-weight: 500;
  text-align: center;
}

#landing-download-btn {
  padding: 10px 30px;
  background-color: var(--accent);
  color: white;
  font-size: 24px;
  border-radius: 10px;
  margin-top: 50px;
  display: flex;
  align-items: center;
}

#landing-download-btn > :first-child {
  margin-right: 8px;
}

#landing-download-btn img {
  width: 40px;
  height: 40px;
}

#landing-screenshot {
  margin-top: 100px;
  width: 80%;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
}

#feature-list {
  list-style: none;
  padding: 0;
  margin: 80px 5vw 0 5vw;
  display: flex;
  flex-flow: wrap;
  max-width: 90vw;
  justify-content: center;
}

#feature-list > * {
  margin: 20px;
  width: 250px;
}

#feature-list img {
  height: 75px;
  width: 75px;
  display: block;
  margin: 0 auto;
}

#feature-list p {
  font-size: 24px;
  text-align: center;
}

#download-icon {
  margin-top: 100px;
  height: 150px;
}

#download-title {
  font-size: 48px;
  font-weight: bold;
  margin-top: 10px;
}

#download-list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
}

#download-list a {
  display: block;
  font-size: 24px;
  font-weight: bold;
  text-align: center;
  color: white;
  background-color: var(--accent);
  margin: 0 20px;
  padding: 10px 30px;
  width: 250px;
  border-radius: 10px;
}

#download-message {
  font-size: 18px;
  margin-top: 50px;
}

#faq-title {
  margin-top: 50px;
  font-size: 32px;
  font-weight: bold;
  text-align: center;
}

#faq-list {
  list-style: none;
  margin: 0;
  padding: 0;
  max-width: 750px;
}

#faq-list > * {
  margin-bottom: 64px;
}

#faq-list h2 {
  font-size: 24px;
  font-weight: 500;
}

#faq-list p {
  font-size: 16px;
}

#main-content.docs-page {
  flex-direction: row;
}

#docs-contents-list ul {
  list-style: none;
  padding: 0;
  margin: 0;
  min-height: calc(100vh - 60px);
  min-width: 250px;
  border-right: 1px solid #BDBDBD;
}

#docs-contents-list li {
  border-bottom: 1px solid #BDBDBD;
}

#docs-contents-list a {
  display: block;
  font-size: 16px;
  color: black;
  padding: 18px;
  transition: all 0.25s;
}

#docs-contents-list a:hover {
  background-color: #BDBDBD;
}

#docs-content {
  flex-grow: 1;
  padding: 50px 25px 25px;
  height: calc(100vh - 60px);
  overflow-y: auto;
}

#docs-content > * {
  max-width: 1000px;
  margin: 0 auto 50px auto;
}

#docs-content > h1 {
  font-size: 42px;
  margin-bottom: 25px;
}

#docs-content h2 {
  margin: 0;
  font-size: 36px;
  font-weight: bold;
}

#docs-content p {
  line-height: 1.4;
}

#docs-content img,
#docs-content video {
  max-width: 100%;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}

@media only screen and (max-width: 600px) {
  nav {
    padding: 0 20px;
  }

  #nav-links {
    padding: 0;
  }

  #nav-links > * {
    display: none;
  }

  #nav-links.display {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    top: 60px;
    left: 0;
    width: 100%;
    height: calc(100vh - 60px);
    background-color: var(--accent);
  }

  #nav-links.display > * {
    width: 100%;
    display: block;
    margin: 0;
    padding: 10px 20px;
    font-size: 20px
  }

  #nav-links a {
    display: block;
  }

  #nav-links.display #github-link {
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  #github-link span {
    display: inline;
    margin-left: 10px;
  }

  #menu-button {
    display: block;
    margin-right: 0;
  }

  #main-content {
    margin: 0 20px;
  }

  #download-list {
    flex-direction: column;
    width: 100%;
    padding: 0 30px;
  }

  #download-list > * {
    width: 100%;
    margin-bottom: 10px;
  }

  #download-list a {
    width: 100%;
    margin: 0;
  }

  #main-content.docs-page {
    margin: 0;
    flex-direction: column;
  }

  #docs-contents-list {
    width: 100%;
  }

  #docs-contents-list ul {
    min-height: initial;
  }

  #docs-content {
    padding-top: 25px;
    overflow-y: initial;
  }
}