/* Defines colour variables */
:root {
  --accent: #1976D2;
  --link: #42A5F5;
}

/* Sets all elements to have border-box sizing */
* {
  box-sizing: border-box;
}

/* Sets default hyperlink color */
a {
  text-decoration: none;
  color: var(--link);
}

/* Sets default font and word-break setting for website */
body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
  word-break: break-word;
}

/* Used to separate groups of elements in a flexbox */
.separator {
  flex-grow: 1
}

nav {
  background-color: var(--accent);
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  height: 60px;
  position: sticky;
  top: 0;
  padding: 0 40px;
  display: flex;
  flex-direction: row;
  align-items: center;
}

nav a {
  color: white;
}

/* Flexbox is used to arrange navigation links in a row, vertically aligning them to the center of the container */
#nav-links {
  list-style: none;
  margin: 0;
  height: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
}

/* Sets default margins for all navigation links */
#nav-links > * {
  margin: 0 10px;
}

/* Removes left margin for first nav link, and right margin for last */
#nav-links > :first-child {
  margin-left: 0;
}

#nav-links > :last-child {
  margin-right: 0;
}

#nav-links {
  font-size: 16px;
}

#nav-links a {
  color: white;
}

/* Hides the menu button in desktop view, and sets other styling */
#menu-button {
  display: none;
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
}

#menu-button img {
  display: block;
}

#home-link {
  font-size: 20px;
  font-weight: 500;
}

/* Adds different styling for download navigation link */
#nav-links #nav-download-link {
  color: black;
  background-color: white;
  padding: 10px 15px;
  border-radius: 10px;
}

#github-link {
  display: block;
}

#github-link img {
  width: 35px;
  height: auto;
  display: block;
}

/* Hides github link text in desktop view */
#github-link span {
  display: none;
}

/* Horizontally aligns all content in main section by default */
#main-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#landing-title {
  margin-top: 100px;
  font-size: 50px;
  text-align: center;
}

#landing-subtitle {
  max-width: 500px;
  margin: 0 auto;
  font-size: 24px;
  font-weight: 500;
  text-align: center;
}

/* Sets styling for download button, and sets it as a flexbox to align download icon and text within the button */
#landing-download-btn {
  padding: 10px 30px;
  background-color: var(--accent);
  color: white;
  font-size: 24px;
  border-radius: 10px;
  margin-top: 50px;
  display: flex;
  align-items: center;
}

#landing-download-btn > :first-child {
  margin-right: 8px;
}

#landing-download-btn img {
  width: 40px;
  height: 40px;
}

/* Sets image size and spacing, and shadow so it can be more easily distinguished from page background */
#landing-screenshot {
  margin-top: 100px;
  width: 80%;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
}

/* Sets feature list as a flexbox, and to wrap when the width becomes too small to fit all the items */
#feature-list {
  list-style: none;
  padding: 0;
  margin: 80px 5vw 0 5vw;
  display: flex;
  flex-flow: wrap;
  max-width: 90vw;
  justify-content: center;
}

#feature-list > * {
  margin: 20px;
  width: 250px;
}

#feature-list img {
  height: 75px;
  width: 75px;
  display: block;
  margin: 0 auto;
}

#feature-list p {
  font-size: 24px;
  text-align: center;
}

#download-icon {
  margin-top: 100px;
  height: 150px;
}

#download-title {
  font-size: 48px;
  font-weight: bold;
  margin-top: 10px;
}

/*
  Sets download list as a flexbox, so it can be changed to display items vertically in mobile view with little styling
  changes
*/
#download-list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
}

#download-list a {
  display: block;
  font-size: 24px;
  font-weight: bold;
  text-align: center;
  color: white;
  background-color: var(--accent);
  margin: 0 20px;
  padding: 10px 30px;
  width: 250px;
  border-radius: 10px;
}

#download-message {
  font-size: 18px;
  margin-top: 50px;
}

#faq-title {
  margin-top: 50px;
  font-size: 32px;
  font-weight: bold;
  text-align: center;
}

#faq-list {
  list-style: none;
  margin: 0;
  padding: 0;
  max-width: 750px;
}

#faq-list > * {
  margin-bottom: 64px;
}

#faq-list h2 {
  font-size: 24px;
  font-weight: 500;
}

#faq-list p {
  font-size: 16px;
}

/* Content in a row instead of column for docs page */
#main-content.docs-page {
  flex-direction: row;
}

#docs-contents-list ul {
  list-style: none;
  padding: 0;
  margin: 0;
  min-height: calc(100vh - 60px);
  min-width: 250px;
  border-right: 1px solid #BDBDBD;
}

#docs-contents-list li {
  border-bottom: 1px solid #BDBDBD;
}

/* Sets size, color and spacing of contents list items, and transition for changing colour when hovered over */
#docs-contents-list a {
  display: block;
  font-size: 16px;
  color: black;
  padding: 18px;
  transition: all 0.25s;
}

/* Changes contents list items colour when hovered over */
#docs-contents-list a:hover {
  background-color: #BDBDBD;
}

/*
  Main docs content fills remaining space not used by list of contents, and scrolls separately so list of contents
  is always on screen
*/
#docs-content {
  flex-grow: 1;
  padding: 50px 25px 25px;
  height: calc(100vh - 60px);
  overflow-y: auto;
}

/* Horizontally aligns elements within docs-content to center */
#docs-content > * {
  max-width: 1000px;
  margin: 0 auto 50px auto;
}

/* Sets font size and specific margins for headings within docs-content */
#docs-content > h1 {
  font-size: 42px;
  margin-bottom: 25px;
}

#docs-content h2 {
  margin: 0;
  font-size: 36px;
  font-weight: bold;
}

#docs-content p {
  line-height: 1.4;
}

/* Ensures videos and images on docs page don't overflow, and adds shadows so they are more easily distinguished */
#docs-content img,
#docs-content video {
  max-width: 100%;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}

/* Specific css rules for mobile view */
@media only screen and (max-width: 600px) {
  nav {
    padding: 0 20px;
  }

  #nav-links {
    padding: 0;
  }

  /* Hides navigation links by default */
  #nav-links > * {
    display: none;
  }

  /* Displays navigations links in a column below navigation bar */
  #nav-links.display {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    top: 60px;
    left: 0;
    width: 100%;
    height: calc(100vh - 60px);
    background-color: var(--accent);
  }

  /* Displays navigation links when toggled */
  #nav-links.display > * {
    width: 100%;
    display: block;
    margin: 0;
    padding: 10px 20px;
    font-size: 20px
  }

  #nav-links a {
    display: block;
  }

  /* Properly aligns github icon and text */
  #nav-links.display #github-link {
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  #github-link span {
    display: inline;
    margin-left: 10px;
  }

  /* Displays toggle menu button in mobile view */
  #menu-button {
    display: block;
    margin-right: 0;
  }

  /* Adds default margins for main content */
  #main-content {
    margin: 0 20px;
  }

  /* Displays download buttons in a column */
  #download-list {
    flex-direction: column;
    width: 100%;
    padding: 0 30px;
  }

  /* Makes download list icons wider to be easier to click */
  #download-list > * {
    width: 100%;
    margin-bottom: 10px;
  }

  #download-list a {
    width: 100%;
    margin: 0;
  }

  /* Displays docs page elements in a column */
  #main-content.docs-page {
    margin: 0;
    flex-direction: column;
  }

  /* Makes content list take up full screen width */
  #docs-contents-list {
    width: 100%;
  }

  /* Resets minimum height of contents list to prevent it taking up too much space */
  #docs-contents-list ul {
    min-height: initial;
  }

  /* Stops docs content from scrolling independently */
  #docs-content {
    padding-top: 25px;
    overflow-y: initial;
  }
}